.helloMsg {
    margin-bottom: 30px;
}

.subtitle {
    @media (max-width: 768px) {
        display: block;
    }
}

.avatar {
    transition: opacity 0.3s;
    border-radius: 50%;
    margin: 25px 0;
    height: 250px;
    width: 250px;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }

    @media (max-width: 992px) {
        height: auto;
        width: 100%;
    }

    @media (max-width: 768px) {
        height: 250px;
        width: 250px;
    }
}