---
/*
	public static function displayRubiksCube()
	{
		$tpl = Template::create('pages/rubiks-cube.tpl');
		$tpl->assign('page_title', 'How to solve 3x3 Rubik\'s Cube');
		$tpl->assign('page_id', 'rubiks-cube');
		$tpl->assign('social_title', 'How to solve the 3x3 Rubik\'s Cube with Carlos Ferreira');
		$tpl->assign('social_desc', 'Learn how to solve the Rubik\'s Cube with the most simplified guide.');
		$tpl->display();
	}
*/
---

<h1>Rubik's Cube</h1>