div.blog-page {
    /*background: red;*/
}

div.blog-post {
}

div.blog-post div.post-header {
    margin-bottom: 15px;
    position: relative;
    height: 160px;
}

div.blog-post div.post-header div.featured-image {
    height: 100%;
    filter: blur(1px);
    background-size: cover;
    background-position: center center;
}

div.blog-post div.post-header div.post-headline {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 25px;
}

div.blog-post div.post-header div.post-headline h1 {
    text-shadow: 1px 1px 4px #000000;
    color: #FFFFFF;
    cursor: default;
    margin: 15px 0 0 0;
    font-size: 42px;
}

div.blog-post div.post-header div.post-headline ul.post-categories {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

div.blog-post div.post-header div.post-headline ul.post-categories li.post-category {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin: 12px;
    padding: 0;
}

div.blog-post div.post-header div.post-headline ul.post-categories li.post-category a {
    text-shadow: 0 0 5px #000000;
    color: #FFFFFF;
}

div.blog-post div.post-author {
    padding: 10px 0;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

div.blog-post div.post-author div.author-avatar {
    vertical-align: top;
    display: inline-block;
    height: 48px;
    width: 48px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 4px #000;
}

div.blog-post div.post-author div.author-name {
    vertical-align: top;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding-left: 12px;
    font-size: 20px;
}

div.blog-post div.post-author div.author-name a {
    color: black;
}

div.blog-post div.post-content {
    padding: 15px 0;
    margin: 0;
}

div.blog-post div.post-comments {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    padding: 10px 0;
}