div.blog-page {
    /*background: red;*/
}

div.blog-post {
}

div.blog-post div.post-header {
    position: relative;
    height: 140px;
}

div.blog-post div.post-header div.featured-image {
    height: 100%;
    filter: blur(1px);
    background-size: cover;
    background-position: center center;
}

div.blog-post div.post-header div.post-headline {
    /*background: orange;*/
    position: absolute;
    text-align: center;
    width: 100%;
    top: 15px;
}

div.blog-post div.post-header div.post-headline h1 {
    text-shadow: 1px 1px 4px #000000;
    color: #FFFFFF;
    cursor: default;
    margin: 15px 0 0 0;
    font-size: 42px;
}

div.blog-post div.post-header div.post-headline ul.post-categories {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

div.blog-post div.post-header div.post-headline ul.post-categories li.post-category {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin: 12px;
    padding: 0;
}

div.blog-post div.post-header div.post-headline ul.post-categories li.post-category a {
    text-shadow: 0 0 5px #000000;
    color: #FFFFFF;
}

div.blog-post div.post-content {}