---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

/*
	public static function displayIndex()
	{
		$tpl = Template::create('pages/index.tpl');
		$tpl->assign('page_title', 'Welcome');
		$tpl->assign('page_id', 'index');
		$tpl->assign('social_title', 'Carlos Ferreira - All Things Developer from London');
		$tpl->assign('social_desc', 'Name is Carlos and I like making things. Check out my website to know what I can do.');
		$tpl->assign('age', Utils::getage('20-05-1994'));
		$tpl->display();
	}
*/

---

<Layout title="Carlos Ferreira - All Things Developer from London">

	<main class="container mx-auto p-4">

		<h1 class="text-2xl font-bold">TODO</h1>

		<h1>Index Page</h1>

	</main>

</Layout>