@import 'variables';
@import 'icons';

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.text-blue {
    color: $cajogos-blue;
}

.text-orangered {
    color: $global-orangered;
}

.text-yellow {
    color: $global-yellow;
}

#navbar {
    display: none;
}

#content {
    position: relative;
    background: #FFF;
}

.toggle-button {
    transition: opacity 0.5s;
    background: transparent;
    font-size: 32px;
    cursor: pointer;
    outline: none;
    border: none;
    height: 64px;
    width: 64px;
    opacity: 0.55;
    color: #000;
    padding: 0;

    &:hover {
        opacity: 1;
    }
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    min-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}