@import 'variables';
@import 'icons';

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.text-blue {
    color: $cajogos-blue;
}

.text-orangered {
    color: $global-orangered;
}

.text-yellow {
    color: $global-yellow;
}

#website-content {
    position: relative;
    background: #FFF;
}