name: Lint Codebase

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

# permissions:
#   contents: read
#   packages: read
#   statuses: write

jobs:
  lint:
    name: Lint Codebase
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install Dependencies
        id: install
        run: |
          npm install --save-dev eslint eslint-plugin-astro
          npm ci

      - name: Lint Codebase
        id: super-linter
        uses: super-linter/super-linter/slim@v7
        env:
          DEFAULT_BRANCH: master
          FILTER_REGEX_EXCLUDE: src/**/*
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_JAVASCRIPT_ES: true
